/*****FOOTER*****/

.footerContainer {
  display: flex;
  background-color: #3d58f0;
  color: white;
  font-family: "avenir light";
  justify-content: center;
}

.footerNav {
  display: flex;
  gap: 8em;
  padding: 8em 0em 8em 0em;
}

.logo {
  background-color: white;
}

.footer a {
  display: flex;
}

.footerLogoContainer {
}

.footerAboutContainer {
}

.footerSocialIconContainer {
  display: flex;
  gap: 10px;
  cursor: pointer;
}
