/*****CLASS CONTAINER*****/

.dashboardContainer {
  width: 100vw;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.dashboardMainContainer {
  display: flex;
  flex-basis: 100%;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: 23rem;
  margin-top: 14.5rem;
  gap: 2rem;
  align-items: flex-start;
}

/*****USER COUNT CONTAINER*****/

.userStatsOverviewContainer,
.userCourseStatsContainer,
.studentsStatsContainer {
  align-items: flex-start;
  background-color: white;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  font-family: "avenir light";
  width: 20rem;
  /* height: 20rem; */
  box-shadow: 0 3.4px 6.7px rgba(154, 160, 185, 0.04),
    0 10px 26.7px rgba(166, 173, 201, 0.15);
  border-radius: 12px;
  padding: 2rem;
  color: #1f1f1f;
}

.studentStatsOverviewTitle {
  font-size: 1.5rem;
  font-family: "avenir black";
}

.courseNavContainer {
  display: flex;
  justify-content: flex-start;
  margin-top: 0.5rem;
  flex-basis: 100%;
}

.classCoachesTitle {
  display: flex;
  gap: 0.5rem;
}

.coachesTitle {
  font-family: "avenir medium";
  margin: 0;
  padding-bottom: 2rem;
}

.coachesNamesText {
  margin: 0;
}

.nextLessonBtn {
  align-self: center;
  border: none;
  background-color: #f0c53c;
  border-radius: 24px;
  font-size: 1.1rem;
  font-family: "avenir medium";
  padding: 10px 20px 10px 20px;
  cursor: pointer;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-right: 2rem;
}

.deleteClassBtn {
  color: white;
  background-color: #f05466;
}

.userOverviewContainer {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
