.registrationFormContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.registrationProductContainer {
  display: flex;
  background-color: #3d58f0;
  height: 100vh;
  flex-basis: 50%;
}

.formContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-basis: 50%;
  height: 100vh;
  background-color: white;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.registrationLogoContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.logo {
  display: flex;
  flex-basis: 100%;
}

.registrationGreeting {
  display: flex;
  font-family: "avenir light";
  color: #1f1f1f;
  margin-bottom: 0;
}

.registrationText {
  text-align: center;
  padding-bottom: 2rem;
  font-family: "avenir light";
}
