/*****FEATURE SECTION 5*****/

.fifthFeaturesContainer {
  display: flex;
  flex-wrap: wrap;
  height: 80%;
  font-family: "avenir medium";
  font-size: 2rem;
  text-align: center;
  justify-content: center;
  align-content: flex-start;
  margin-bottom: 4em;
  margin-top: 2em;
}

.fifthFeaturesTitle {
  flex-basis: 100%;
  margin: 0 0 0.5em 0;
  color: #1f1f1f;
}

.fifthFeaturesText {
  flex-basis: 100%;
  font-family: "avenir light";
  font-size: 1.2rem;
  margin: 0;
  padding-bottom: 2rem;
}

.fifthFeaturesSubtitle {
  display: block;
  color: #f0c53c;
  font-family: "avenir medium";
  margin: 0 0 1em 0;
  font-size: 1rem;
}

.fifthFeaturesButton {
  flex-basis: auto;
  height: auto;
  border-radius: 24px;
  border: none;
  color: white;
  background-color: #3d58f0;
  cursor: pointer;
  padding: 0.7em 1em 0.7em 1em;
  font-size: 1rem;
  font-family: "avenir medium";
}
