.legendTitle {
  font-size: 1.1rem;
  font-family: "avenir medium";
  margin-bottom: 0.5rem;
  margin-top: 1.5rem;
}

.daySelectionContainer {
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

.createClassNav {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1rem;
  row-gap: 0.5rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.saveClassBtn,
.deleteClassBtn {
  align-self: flex-start;
  border: none;
  background-color: #f0c53c;
  border-radius: 24px;
  font-size: 1.1rem;
  font-family: "avenir medium";
  padding: 10px 20px 10px 20px;
  cursor: pointer;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-top: 1rem;
}

.deleteClassBtn {
  color: white;
  background-color: #f05466;
}

.timeSelectionContainer {
  display: flex;
  width: 100%;
  gap: 2rem;
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 1rem;
}

.formContainer {
  width: 100%;
}

.weekDayContainer {
  border: 1px solid rgb(209 213 219);
  border-radius: 10px;
  padding: 0.5rem;
}

.input {
  height: 40px;
  width: 100%;
  border-radius: 5px;
  border: 0;
  padding: 0.5rem;
  background-color: rgb(249 250 251);
  border: 1px solid rgb(209 213 219);
  color: #000;
  font-size: 1.05rem;
}
