/*****FEATURE SECTION 4*****/

.fourthFeaturesContainer {
  display: flex;
  flex-wrap: wrap;
  height: 80%;
  font-family: "avenir medium";
  font-size: 2rem;
  text-align: center;
  justify-content: center;
  align-content: flex-start;
  margin-bottom: 4em;
  margin-top: 2em;
}

.fourthFeaturesTitle {
  flex-basis: 100%;
  margin: 0 0 0.5em 0;
  color: #1f1f1f;
}

.fourthFeaturesText {
  flex-basis: 100%;
  font-family: "avenir light";
  font-size: 1.2rem;
  margin: 0;
  padding-bottom: 6.7em;
}

.fourthFeaturesSubtitle {
  display: block;
  color: #f0c53c;
  font-family: "avenir medium";
  margin: 0 0 1em 0;
  font-size: 1rem;
}

.fourthFeaturesCard1,
.fourthFeaturesCard2,
.fourthFeaturesCard3,
.fourthFeaturesCard4 {
  height: 20rem;
  width: 18rem;
  border-radius: 24px;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(166, 173, 201, 0.2);
  margin-left: 2em;
  padding: 0 1em 0 1em;
}

.fourthFeaturesCardTitle {
  font-family: "avenir medium";
  font-size: 1.25rem;
}

.fourthFeaturesCardSubTitle {
  font-family: "avenir light";
  font-size: 1rem;
}

.feedbackIcon {
  margin-top: 20%;
}
