/*****CLASS CONTAINER*****/

.dashboardContainer {
  width: 100vw;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.dashboardMainContainer {
  display: flex;
  flex-basis: 100%;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: 23rem;
  margin-top: 14.5rem;
  gap: 1.25rem;
  align-items: flex-start;
}

/*****ASSIGNMENT & SYLLABUS CARD & JOIN CLASS CARD*****/

.classInformationContainer,
.calendarContainer,
.joinClassBtn {
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 25rem;
  height: 32rem;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(166, 173, 201, 0.2);
  border-radius: 12px;
}

.classInformationContainer:hover {
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(61, 88, 240, 0.2);
}

/*****CLASS CARDS TITLE*****/

.classInformationTitle {
  font-family: "avenir medium";
  padding-top: 1rem;
}

/*****JOIN CLASS/CALENDAR CONTAINER*****/

.calendarContainer {
  display: flex;
  justify-content: center;
  width: 31rem;
  height: 22rem;
}

.joinClassBtn {
  width: 31rem;
  height: 4rem;
  display: flex;
  align-content: center;
  justify-content: center;
  color: white;
  background-color: #3d58f0;
  cursor: pointer;
  box-shadow: none;
}

.joinClassContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/*****CLASS INFORMATION CARDS*****/

.classCardContainer {
  align-items: center;
  align-content: space-around;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  width: 15rem;
  height: 15rem;
}

.classCardContainer {
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(166, 173, 201, 0.2);
  border-radius: 12px;
}

.classCardGroup {
  display: flex;
  flex-basis: 33%;
  flex-wrap: wrap;
  gap: 2rem;
}

/*****ASSIGNED COACH CONTAINER*****/

.assignedCoachTitle,
.coachNameTitle {
  color: #1f1f1f;
  flex-basis: 100%;
  font-family: "avenir light";
  height: fit-content;
  margin-top: 1.5rem;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.assignedCoachTitle {
  margin-top: 1.5rem;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "avenir medium";
}

/*****SELF TAPE & SYLLABUS BUTTON*****/

.selfTapeSubmissionContainer,
.syllabusContainer {
  display: flex;
  gap: 0.5rem;
}

.selfTapeSubmissionBtn,
.syllabusBtn {
  color: blue;
  cursor: pointer;
  font-family: "avenir light";
}

/*****NOTES*****/

.notesTextArea {
  border-radius: 12px;
  border: none;
  border: 1px solid #e7e7e7;
  width: 19rem;
  height: 12rem;
  padding-left: 1rem;
  padding-top: 1rem;
  resize: none;
}
