.dashboardContainer {
  height: 100vh;
  width: 100vw;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

/*
.userDashboardContainer {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(24, 1fr);
  grid-template-areas: "infosidebar infosidebar sidenavbar sidenavbar sidenavbar sidenavbar dashboardheader dashboardheader dashboardheader";
  gap: 30px;
}
*/

.userDashboardContainer {
  display: flex;
}

.infoSidebar {
  position: fixed;
  width: 5rem;
  height: 100vh;
  background-color: #f5f5f5;
  top: 5rem;
}

.userDashboardNavBar {
  position: fixed;
  margin-left: 5rem;
  padding-left: 1rem;
  background-color: white;
  width: 15rem;
  height: 100vh;
  text-align: left;
  top: 8rem;
}

.dashboardNavItems {
  margin-top: 2.9rem;
}

.dashboardNavItems li {
  list-style: none;
  padding-left: 2rem;
}

.dashboardNavButtons {
  border: 1px solid rgb(228, 226, 226);
  border-radius: 6px;
  padding: 1rem 2rem 1rem 2rem;
  width: 100%;
  margin-bottom: 1rem;
  cursor: pointer;
}

.dashboardNavItems li:hover {
  border-left: 5px solid #3d58f0;
  padding-left: 1rem;
}

/*******HEADER******/

.dashboardContentContainer {
  display: flex;
  flex-wrap: wrap;
}

.dashboardHeader {
  display: flex;
  background-color: #3d58f0;
  border-radius: 6px;
  margin-left: 23rem;
  height: 4rem;
  position: fixed;
  color: white;
  align-items: center;
  padding-left: 2rem;
  top: 8rem;
  bottom: 0;
  left: 0;
  right: 2em;
}

.dashboardHeader::before {
  content: "";
  display: flex;
  background-color: white;
  margin-left: 23rem;
  height: 4rem;
  position: fixed;
  color: white;
  align-items: center;
  padding-left: 2rem;
  top: 4rem;
  bottom: 0;
  left: 0;
  right: 2em;
}

/*****COURSE PROGRESS*****/

.dashboardMainContainer {
  display: flex;
  flex-wrap: wrap;
  margin-left: 23rem;
  margin-top: 4rem;
}

.courseProgress {
  display: flex;
}

.courseProgressTitle {
  color: black;
  margin-top: 11rem;
  height: fit-content;
}

.courseProgressLessonContainer {
  background-color: #f5f5f5;
  border-radius: 6px;
  width: 40rem;
  height: 22rem;
  margin-top: 14rem;
  margin-left: -6.2rem;
}

/*****USER NOTIFICATIONS*****/

.notificationsContainer {
  margin-left: 5rem;
}

.messagesContainer {
  background-color: #f5f5f5;
  width: 30rem;
  height: 22rem;
  border-radius: 6px;
}

.userNotificationsTitle {
  margin-top: 11rem;
  height: fit-content;
}

.userNotificationsList {
  list-style: none;
}
