html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 16px;
  width: 100vw;
  height: 100vh;
}

/**********FONTS**********/

@font-face {
  font-family: "avenir medium";
  src: url(../public/fonts/Avenir/AvenirLTProMedium.otf);
}

@font-face {
  font-family: "avenir light";
  src: url(../public/fonts/Avenir/AvenirLTProLight.otf);
}

@font-face {
  font-family: "avenir black";
  src: url(../public/fonts/Avenir/AvenirLTProHeavy.otf);
}

body {
  overflow-x: hidden;
}

ul {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: black;
    background: white;
  }
}
