/**********FONTS**********/

@font-face {
  font-family: "avenir medium";
  src: url(../public/fonts/Avenir/AvenirLTProMedium.otf);
}

@font-face {
  font-family: "avenir light";
  src: url(../public/fonts/Avenir/AvenirLTProLight.otf);
}

@font-face {
  font-family: "avenir black";
  src: url(../public/fonts/Avenir/AvenirLTProBlack.otf);
}

/**********MOBILE DISPLAY**********/

/*****HERO SECTION*****/

.container {
  background-color: white;
}

.heroSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}

.backgroundImage {
  display: flex;
  position: absolute;
  top: -8em;
  left: 25em;
  width: 604px;
  height: 604px;
}

.homeIframe {
  width: 420px;
  height: 237px;
  border: none;
  position: relative;
  z-index: 5;
}

.heroText {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.heroHeading {
  color: #3d58f0;
  margin: 0;
  padding: 26px 0 20px 0;
  flex-basis: 100%;
  font-family: "avenir medium";
}

.heroParagraph {
  flex-basis: 100%;
  margin: 0;
  padding: 0 0 0 0;
  font-family: "avenir light";
}

.break1 {
  display: block;
}

.break2 {
  display: none;
}

/*****EMAIL FORM*****/

.heroEmailForm {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.emailInput:focus {
  outline: none;
}

.emailInput {
  flex-basis: 60%;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin: 20px 0 20px 0;
  padding: 5px;
  font-family: "avenir medium";
  font-size: 16px;
  background-color: white;
}

.formButton1 {
  color: white;
  background-color: #3d58f0;
  border: none;
  border-radius: 5px;
  display: flex;
  font-family: "avenir black";
  flex-basis: auto;
  font-weight: bold;
  margin: 0 0 0 0;
  padding: 10px;
  white-space: nowrap;
  font-size: 16px;
}

/*****PARTNER LOGOS*****/

.partnerLogoContainer {
  align-content: center;
  background-color: #f5f5f5;
  display: flex;
  flex-wrap: wrap;
  font-size: 0.8rem;
  gap: 2em;
  justify-content: center;
  margin-top: 50px;
  padding: 1em 0em 1em 0em;
  text-align: center;
}

.partnerLogoImages {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

.partnerLogoText {
  flex-basis: 100%;
  font-family: "avenir medium";
  font-size: 1.25rem;
  color: #3d58f0;
  padding: 0 2em 0 2em;
  margin: 0;
}

.disneyLogo {
  width: 60px;
  height: 25px;
}

.sonyLogo {
  width: 60px;
  height: 10.8px;
}

.universalLogo {
  width: 60px;
  height: 31.75px;
}

.paramountLogo {
  width: 60px;
  height: 19.86px;
}

.lionsgateLogo {
  display: none;
}

/*****FEATURES*****/

.featuresContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 8em 25em 0em 25em;
}

.featuresTitle {
  flex-basis: 100%;
  font-family: "avenir medium";
  font-size: 2.5rem;
  text-align: center;
  margin: 0 0 3em 0;
}

.feature1 {
  display: flex;
  flex-basis: 100%;
  flex-direction: row-reverse;
  margin-bottom: 8em;
  gap: 5em;
}

.featurePic1 {
  border: none;
  border-radius: 15px;
  width: 300px;
  height: 449px;
}

.featurePic1,
.featurePic2,
.featurePic3,
.featurePic4 {
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(166, 173, 201, 0.2);
}

.featureSubtitle1 {
  display: block;
  color: #f0c53c;
  font-family: "avenir medium";
  margin: 0;
}

.featureTitle1 {
  font-family: "avenir medium";
  font-size: 2rem;
  margin: 0.5em 0 0 0;
}

.featureParagraph1 {
  font-family: "avenir light";
  line-height: 2;
}

.feature2 {
  display: flex;
  gap: 5em;
  margin-bottom: 8em;
}

.featurePic2 {
  border: none;
  border-radius: 15px;
  width: 469.64px;
  height: 449px;
}

.feature3 {
  display: flex;
  flex-basis: 100%;
  flex-direction: row-reverse;
  margin-bottom: 8em;
  gap: 5em;
}

.featurePic3 {
  border: none;
  border-radius: 15px;
  width: 449px;
  height: 280.63px;
}

.feature4 {
  display: flex;
  flex-basis: 100%;
  margin-bottom: 8em;
  gap: 5em;
}

.featurePic4 {
  border: none;
  border-radius: 15px;
  width: 469.64px;
  height: 449px;
}

.secFeaturesContainer {
  display: flex;
  flex-wrap: wrap;
  height: 80%;
  font-family: "avenir medium";
  font-size: 2rem;
  text-align: center;
  justify-content: center;
  align-content: flex-start;
  margin-bottom: 4em;
  margin-top: 2em;
}

.toolkitIcon {
  margin-top: 20%;
}

.tvIcon {
  margin-top: 20%;
}

.secFeaturesTitle {
  flex-basis: 100%;
  margin: 0 0 0.5em 0;
}

.secFeaturesText {
  flex-basis: 100%;
  font-family: "avenir light";
  font-size: 1.2rem;
  margin: 0;
  padding-bottom: 6.7em;
}

.secFeaturesSubtitle {
  display: block;
  color: #f0c53c;
  font-family: "avenir medium";
  margin: 0 0 1em 0;
  font-size: 1rem;
}

.secFeaturesCard1,
.secFeaturesCard2,
.secFeaturesCard3,
.secFeaturesCard4 {
  height: 325px;
  width: 15%;
  border-radius: 15px;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(166, 173, 201, 0.2);
  margin-left: 2em;
  padding: 0 1em 0 1em;
}

.secFeaturesCardTitle {
  font-family: "avenir medium";
  font-size: 1.25rem;
}

.secFeaturesCardSubTitle {
  font-family: "avenir light";
  font-size: 1rem;
}

.thirdFeaturesContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 8em;
}

.thirdFeaturesBkg {
  background-color: #5972ff;
  display: flex;
  flex-wrap: wrap;
  height: 60%;
  width: 50%;
  border-radius: 15px;
  justify-content: center;
  padding: 4em;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(166, 173, 201, 0.2);
  gap: 6em;
}

.thirdFeaturesTitle {
  display: flex;
  flex-basis: 100%;
  justify-content: center;
  color: white;
  font-family: "avenir medium";
  font-size: 2.7rem;
  margin: 0;
}

.thirdFeaturesIconContainer {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 25%;
}

.sceneStudy {
  color: white;
  display: flex;
  gap: 1.5em;
}

.footer {
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
}

/**********DESKTOP DISPLAY**********/

@media only screen and (min-width: 811px) {
  /*****HERO SECTION*****/

  .heroSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    gap: 5em;
    margin-bottom: 8em;
  }

  .heroText {
    display: flex;
    flex-wrap: wrap;
    flex-basis: min-content;
    align-content: flex-start;
    padding-top: 0;
    justify-content: flex-start;
    text-align: initial;
  }

  .heroHeading {
    color: black;
    flex-basis: fit-content;
    font-size: 2.7rem;
    margin: 0;
    padding: 0 0 0px 0px;
    text-align: initial;
  }

  .break1 {
    display: block;
  }

  .break2 {
    display: block;
  }

  .heroParagraph {
    flex-basis: fit-content;
    padding: 0em 0 3.75em 0px;
    margin-top: 60px;
    text-align: initial;
    line-height: 2;
  }

  .homeIframe {
    width: 640px;
    height: 360px;
    border: none;
  }

  /*****EMAIL FORM*****/

  .heroEmailForm {
    display: flex;
    flex-wrap: nowrap;
    flex-basis: fit-content;
    align-items: center;
    justify-content: flex-start;
  }

  .emailInput:focus {
    outline: none;
  }

  .emailInput {
    border: 1px solid lightgray;
    height: 2.7rem;
    margin: 0 0 0 0px;
    border-radius: 6px;
    padding-left: 10px;
  }

  .formButton1 {
    flex-basis: auto;
    margin-top: 0%;
    margin-left: 10px;
    height: auto;
    border-radius: 6px;
    border: none;
    color: white;
    background-color: #3d58f0;
    cursor: pointer;
    padding: 0.7em 1em 0.7em 1em;
    font-weight: bold;
    font-size: 1rem;
  }

  /*****PARTNER LOGOS*****/

  .partnerLogoContainer {
    font-size: 1.2rem;
    height: auto;
    padding: 2em 0em 2em 0em;
  }

  .partnerLogoImages {
    gap: 4em;
  }

  .disneyLogo {
    width: 150px;
    height: 62.99px;
  }

  .sonyLogo {
    width: 150px;
    height: 27.01px;
  }

  .universalLogo {
    width: 150px;
    height: 79.38px;
  }

  .paramountLogo {
    width: 150px;
    height: 83.48px;
  }

  .lionsgateLogo {
    width: 150px;
    height: 18.63px;
    display: block;
  }

  /*****FOOTER*****/

  .footer {
    display: flex;
    flex: 1;
    padding: 2rem 0;
    /*border-top: 1px solid #eaeaea;*/
    justify-content: center;
    align-items: center;
  }

  .footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }

  .logo {
    height: 1em;
    margin-left: 0.5rem;
  }
}
